<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22823426008-r1140tjpd19hbgrr5ev8sqnbkr87gpf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22823426008-r1140tjpd19hbgrr5ev8sqnbkr87gpf9</string>
	<key>API_KEY</key>
	<string>AIzaSyDUEGCqjuidl-rFZ3Qew7SQn3QkxplKWZA</string>
	<key>GCM_SENDER_ID</key>
	<string>22823426008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youtubeApp</string>
	<key>PROJECT_ID</key>
	<string>app-48172</string>
	<key>STORAGE_BUCKET</key>
	<string>app-48172.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22823426008:ios:e1e975b3a3dbcb936304ad</string>
</dict>
</plist>